doctype html
html(lang="ru")
  include templates/head
  body
    div(style="display:none")
      include ../img/sprite_auto.svg

    include modules/header

    include modules/intro
    include modules/configuration

    include modules/footer

    //template
