head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="Description" content="Author: Yuriy Bevov, Category: Тестовое задание Selectel")
  title Тестовое задание Selectel
  link(rel="shortcut icon" href="img/favicon.png" type="image/png")
  link(rel="stylesheet" href="css/style.min.css")
  script document.createElement("picture")
  script(src="js/vendor.min.js" async)
