template#product-card-template
  li.product__item
    .product__wrapper

      b.product__name

      .product__content

        p.product__cpu <span class="product__cpu-count"></span><span class="product__cpu-name"></span><span class="product__cpu-cores"></span>

        p.product__ram

        p.product__hdd <span class="product__hdd-count"></span><span class="product__hdd-value"></span>&nbsp;<span class="product__hdd-type"></span>

        p.product__gpu

        .product__price-box
          p <span class="product__price"></span> ₽/месяц
          a(href="#").product__btn Заказать
