section.configuration
  .configuration__wrapper
    h2.configuration__title Доступные конфигурации

    .configuration__select

      .configuration__range-box.range
        include range

      .configuration__type-box
        input(type="checkbox" name="configuration__type" id="GPU")
        label(for="GPU").configuration__type-label GPU

        input(type="checkbox" name="configuration__type" id="RAID")
        label(for="RAID").configuration__type-label.configuration__type-label--RAID RAID

        input(type="checkbox" name="configuration__type" id="SSD")
        label(for="SSD").configuration__type-label SSD

    p.configuration__description Performance Line

    .configuration__product.product
      .product__preloader-wrapper
        .product__preloader
      ul.product__list
