footer.footer
  .footer__wrapper
    .footer__social.social
      img.footer__logo.logo(src="img/LOGO.png" width="112" height="24")
      ul.social__list
        li.social__item.social__item--vk
          a.social__link
            svg.social__icon.social__icon--vk(width="22" height="22")
              use(xlink:href="#icon-vk")
        li.social__item.social__item--twit
          a.social__link
            svg.social__icon.social__icon--twit(width="22" height="22")
              use(xlink:href="#icon-twit")
        li.social__item.social__item--fb
          a.social__link
            svg.social__icon.social__icon--fb(width="22" height="22")
              use(xlink:href="#icon-fb")
        li.social__item.social__item--insta
          a.social__link
            svg.social__icon.social__icon--insta(width="22" height="22")
              use(xlink:href="#icon-insta")
    .footer__nav.nav
      ul.nav__list
        li.nav__item.nav__item--host
          a.nav__link(href="#") Серверы
        li.nav__item.nav__item--equipment
          a.nav__link(href="#") Оборудование
        li.nav__item.nav__item--data
          a.nav__link(href="#") Дата-центры
        li.nav__item.nav__item--blog
          a.nav__link(href="#") Блог
        li.nav__item.nav__item--cloud
          a.nav__link(href="#") Облако
        li.nav__item.nav__item--decision
          a.nav__link(href="#") Решения
        li.nav__item.nav__item--company
          a.nav__link(href="#") О компании
        li.nav__item.nav__item--office
          a.nav__link(href="#") Офисы
