section.intro
  .intro__wrapper
    .intro__content
      h1.intro__title Надежные серверы для проектов любой сложности
      p.intro__description Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
      a.intro__btn(href="#") Готовые серверы 
    picture
      source(type="image/webp" srcset="img/main-img1x.webp 1x, img/main-img2x.webp 2x")
      img.intro__img(src="img/main-img1x.png" srcset="img/main-img2x.png 2x" alt="Сервер")
