b.range__name vCPU
input(type="number" name="effect-level" min="2" max="12" step="2" value="6").range__value
.range__box
  .range__pin
  .range__line
  span.range__cors.range__cors--min 2
  span.range__cors.range__cors--max 12
  span.range__cors.range__cors--current 6&nbsp;
    span.range__current-value ядер
