@font-face {
  font-family: "GothamPro_Bold";
  src: url("../fonts/GothamPro_Bold.woff2") format("woff2"),
    url("../fonts/GothamPro_Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro_Medium";
  src: url("../fonts/GothamPro_Medium.woff2") format("woff2"),
    url("../fonts/GothamPro_Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro_Regular";
  src: url("../fonts/GothamPro_Regular.woff2") format("woff2"),
    url("../fonts/GothamPro_Regular.woff") format("woff");
  font-weight:normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl_500";
  src: url("../fonts/MuseoSansCyrl_500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl_500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl_700";
  src: url("../fonts/MuseoSansCyrl_700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl_700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
