@import "normalize";
@import "global";
@import "fonts";
@import "variables";
@import "mixins";
@import "logo";


// header
@import "blocks/header";
// blocks
@import "blocks/intro";
@import "blocks/configuration"
@import "blocks/range"
@import "blocks/product"
// footer
@import "blocks/footer";
@import "blocks/social";
@import "blocks/nav";
