.configuration__wrapper
  @extend container

  display flex
  flex-direction column
  outline 1px solid red

.configuration__title
  font(GothamPro_Bold, 32px, 38px)

  letter-spacing 0.0025em
  margin 0 auto
  margin-bottom 62px
  color darkblue

.configuration__select
  width 100%
  display flex
  flex-wrap wrap
  margin-bottom 59px

.configuration__type-box
  display flex
  width 486px

  & input[type="radio"]
    display none

.configuration__type-label
  position relative
  font(GothamPro_Regular, 16px, 28px)

  letter-spacing 0.0025em
  width 100px
  padding-left 32px
  margin-right 83px
  color darkblue
  cursor pointer

  &--RAID
    margin-right 89px

  &:nth-child(3n)
    margin-right 0

  &::before
    position absolute
    top 52%
    left 2px
    content ""
    width 18px
    height 18px
    border 2px solid darkblue
    background-color transparent
    border-radius 50%;
    transform translateY(-50%)

.configuration__type-box input[type="radio"]:checked + .configuration__type-label::before
  border-color checked
  background-image url("../img/mark.svg")
  background-repeat no-repeat
  background-position center
  background-size 10.31px 7.34px

.configuration__type-box input[type="radio"]:disabled + .configuration__type-label::before
  border-color secondary_grey

.configuration__description
  font(GothamPro_Regular, 18px, 22px)

  letter-spacing 0.0025em
  color darkblue
