.product
  position relative

.product__preloader-wrapper
  width 100%
  position absolute
  background-color white
  display flex
  align-items center
  justify-content center

.product__preloader
  border 16px solid #f3f3f3
  border-top 16px solid #3498db
  border-radius 50%
  width 120px
  height 120px
  animation spin 2s linear infinite

  @keyframes spin
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)

.product__list
  list-style none
  margin 0
  padding 0
  margin-bottom 79px

.product__item
  width 100%
  min-height 138px
  padding 25px 13px 23px
  margin-bottom 12px
  background-color white
  border 1px solid grey
  border-radius 7px

.product__name
  font(GothamPro_Bold, 14px, 17px)

  letter-spacing 0.0025em
  margin-bottom 17px
  color darkblue

.product__wrapper
  display flex
  flex-direction column

.product__content
  display flex
  flex-wrap wrap

  & p
    width 128px
    font(GothamPro_Regular, 14px, 17px)
    margin 0
    margin-right 58px
    letter-spacing 0.0025em
    text-align center
    color darkblue

  & .product__cpu
    text-align left
    padding-right 25px

.product__price-box
  display flex
  flex-direction column
  align-items center
  margin-left auto

  & p
    font(GothamPro_Bold, 14px, 17px)
    margin-right 0
    margin-bottom 13px

  & a
    font(GothamPro_Regular, 10px, 22px)

    width 76px
    min-height 24px
    text-decoration none
    letter-spacing 0.0275em
    text-transform capitalize
    text-align center
    border 1px solid blue
    border-radius 6px
    color blue

@media (max-width desktop-width)
  .product__preloader
    width 80px
    height 80px

  .product__content
    & p
      width 100px
      margin-right 40px

    & .product__cpu
      width 115px
      padding-right 0
      font-size 16px
      line-height 19px

  .product__price-box
    width 75px

    & p
      margin-right 0

    & a
      width 68px

@media (max-width tablet-width)
  .product__preloader
    width 60px
    height 60px

  .product__list
    margin-bottom 32px

  .product__name
    font-size 12px
    line-height 14px

  .product__content
    flex-direction column

    & p
      width 100%
      font-size 12px
      line-height 14px
      text-align left
      margin-right 0
      margin-bottom 23px

    & .product__cpu
      width 100%
      font-size 12px
      line-height 14px

    & .product__hdd
      margin-bottom 5px

  .product__price-box
    width 100%
    margin-left 0
    align-items flex-start

    & a
      width 102px

    & p
      margin-bottom 17px

  .product__item
    padding-top 20px
    padding-bottom 15px
    margin-bottom 15px

  .product__name
    margin-bottom 14px
