.social__list
  display flex
  flex-wrap wrap
  list-style none
  margin 0
  padding 0

.social__item
  margin-right 20px

.social__link
  & svg
    fill grey
    transition fill duration
    
  &:hover svg,
  &:focus svg
    fill darkblue
  &:active svg
    fill link_active

@media (max-width: desktop-width)
  .social__list
    padding-left 3px

  .social__item
    margin-right 16px

  .social__icon
    width 16px;
    height 16px

@media (max-width: tablet-width)
  .social__list
    padding 0

  .social__item
    padding-left: 3px;
    margin-right: 7px;
    margin-bottom 10px

    &--fb
      order 2

    &--insta
      order 1
